.cartItem {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 350px;
    color: white;
  
    &__image {
     display: block;
     width: 300px;
     height: 300px;
     overflow: hidden;
    }

    &__info p {
     width: 270px;
     margin: 20px 0;
    }

    &__name {
     font-size: 30px;
    }
    
    &__action {
     margin: 30px 0;
    }
}
  