.main-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 30px;
  
  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
  }
}
